footer {
    padding: 40px;
    margin: 40px;
}

.footer-container {
    display: flex;
    flex-direction: row;
}

.footer-links ul {
    display: flex;
    flex-direction: column;
    color: var(--yellow-color-from-post-it);
}

.footer-links ul li a {
    color: var(--green-color-from-post-it);
}

.footer-links ul li a:hover {
    color: var(--orange-color-from-post-it);
}

.footer-social-media ul {
    display: flex;
    flex-direction: row;
}

@media (max-width: 800px) {
    footer {
        margin-bottom: 20vh;
    }
}