footer {
    padding: 40px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.543);
    width: 100vw;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.footer-links ul {
    display: flex;
    flex-direction: column;
    color: var(--yellow-color-from-post-it);
}

.footer-links ul li a {
    color: var(--secondary-color1);
}

.footer-links ul li a:hover {
    color: var(--pink-color-from-post-it);
}

.footer-social-media ul {
    display: flex;
    flex-direction: row;
}



@media (max-width: 800px) {
    footer {
        margin-bottom: 15vh;
        padding: 0;
    }

    .footer-social-media ul li a i {
        font-size: 2rem;
    }
}