.portfolio-section {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio-header {
    margin-bottom: 20px;
    margin-top: 20px;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    gap: 20px;
}

.portfolio-item img {
    width: 400px;
    height: 400px;
    background-color: white;
    object-fit: cover;
    border: 5px solid var(--secondary-color1);
    border: 5px solid white;
    transition-property: width, height;
    transition-duration: 1s
}

.portfolio-item img:hover {
    width: 500px;
    height: 500px;
}

.portfolio-item {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px dotted rgba(211, 203, 255);
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.portfolio-item h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    padding-top: 10px;
    color: var(--secondary-color1);
}

@media (max-width: 800px) {
    .portfolio-item img {
        width: 80vw;
        height: 80vw;

    }

    .portfolio-container {
        width: 100vw;
    }

    .portfolio-item img:hover {
        width: 85vw;
        height: 85vw;
    }
}