.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    gap: 1vw;
    justify-items: center;
    /* background-color: white; */
    /* border-radius: 10px; */
    padding: 20px;
    width: 90vw;
    height: auto;
}

.flip-box {
    background-color: transparent;
    width: 10vw;
    height: 10vw;
    /* perspective: 1000px; */
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    color: var(--text-color-light);
    font-size: 1.5vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.my-skills-flip-box img {
    margin-top: 3.3vw;
    width: 30%;
    height: auto;
    object-fit: contain;
}

.my-skills-flip-box,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-back {
    font-size: 1vw;
    /* margin-top: 1vw; */
    background-color: transparent;
    color: var(--secondary-color1);
    transform: rotateY(180deg);
}

.skill-csharp {
    background-image: url('../images/grön-post-it-removebg-preview.png');
    background-size: cover;
    background-position: center;
    transform: rotate(3deg);
}

.skill-bootstrap {
    background-image: url('../images/blå-post-it-removebg-preview.png');
    background-size: cover;
    background-position: center;
    transform: rotate(-4deg);
}

.skill-javascript {
    background-image: url('../images/rosa-post-it-removebg-preview.png');
    background-size: cover;
    background-position: center;
    transform: rotate(-4deg);
}

.skill-html {
    background-image: url('../images/gul-post-it-removebg-preview.png');

    background-size: cover;
    background-position: center;
}

.skill-css {
    background-image: url('../images/ljuslila-post-it-removebg-preview.png');
    background-size: cover;
    background-position: center;
    transform: rotate(2deg);
}

.skill-sql {
    background-image: url('../images/orange-post-it-removebg-preview.png');
    background-size: cover;
    background-position: center;
    transform: rotate(-2deg);
}

@media (max-width: 800px) {
    .skill-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 1vw;
    }

    .flip-box {
        background-color: transparent;
        width: 20vw;
        height: 20vw;
        /* perspective: 1000px; */
    }

    .my-skills-flip-box img {
        margin-top: 6.2vw;
        width: 30%;
        height: auto;
        object-fit: contain;
    }

}