*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* ---
#b45dbb
*/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* background: var(--gradient-background); */
    background-color: var(--accent-color-light);
    width: 100vw;
}

nav li {
    list-style: none;
    /* border: 1px solid #f1ebf6; */
    /* padding: 20px; */
    flex: 1 1 auto;
    scroll-behavior: smooth;
}

ul {
    justify-content: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
    padding: 20px;
    font-size: 1rem;

}

#my-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color-light);
    font-family: 'Hurricane', cursive;

}

a:hover {
    color: var(--secondary-color1);
}

#my-name:hover {
    color: var(--secondary-color1);
    background-color: transparent;
}

a:active {
    color: var(--accent-color);
}