*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color2: #dbcde6;
    --primary-color1: #2e0f38;
    --secondary-color1: #8351a8;
    --secondary-color2: #1a2c54;
    --accent-color: #4d7b93;
    --text-color-dark: #000;
    --text-color-light: white;
    --gradient-background: linear-gradient(to bottom, #f9ecfc, #ffffff, #f9ecfc);
}

/* ---
#b45dbb
*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border: 1px solid var(--primary-color2);
    background: var(--gradient-background);
    position: fixed;
    top: 0;
    width: 100vw;
}

nav li {
    list-style: none;
    /* border: 1px solid #f1ebf6; */
    /* padding: 20px; */
    flex: 1 1 auto;
}

ul {
    justify-content: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: var(--text-color-dark);
    padding: 20px;

}

a:hover {
    color: var(--secondary-color1);
    /* text-shadow: 0 0 3px var(--secondary-color1); */
    background: #e38ff41b;
}

a:active {
    background-color: #2e0f3829;
}