*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* ---
#b45dbb
*/
.main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    /* background: var(--gradient-background); */
    background-color: var(--accent-color-light);
    width: 100%;
}

nav li {
    padding: 20px;
    display: flex;
}

ul {
    list-style: none;
    justify-content: start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
    font-size: 1rem;
    transition: color 0.2s ease;
}

#my-name {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--text-color-light);
    font-family: 'Hurricane', cursive;
    /* padding: 0.5rem 0; */
}

a:hover {
    color: var(--secondary-color1);
}

#my-name:hover {
    color: var(--secondary-color1);
    background-color: transparent;
}

a:active {
    color: var(--accent-color);
}

/* @media (max-width: 768px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }
    
    ul {
        justify-content: center;
        width: 100%;
    }
    
    a {
        padding: 0.75rem; /* Något mindre knappar på mobilen */
/* } */
/* } */