.reference-container {
    display: flex;
    flex-direction: row;
    height: 35vw;
    position: relative;
}

.references-header {
    padding: 40px;
    margin-top: 20px;
}

.reference-container img {
    width: 15vw;
    position: absolute;
    transform-origin: bottom;
    transition-duration: 0.5s;
    bottom: 0;
}

.img1 {
    left: 10vw;
    z-index: 4;
}

.img2 {
    left: 22vw;
    z-index: 5;
}

.img3 {
    left: 32vw;
    z-index: 7;
}

.img4 {
    right: 32vw;
    z-index: 6;
}

.img5 {
    right: 22vw;
    z-index: 5;
}

.img6 {
    right: 10vw;
    z-index: 4;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
    width: 20vw;
    height: auto;
    z-index: 10;
}

.person-message {
    visibility: hidden;
    position: absolute;
    transition: visibility 0.2s ease;
    bottom: 27vw;
    /* Justera denna så texten hamnar ovanför bilden */
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color-light);
    background-color: var(--secondary-color1);
    padding: 20px;
    border-radius: 20px;
}

.reference-item:hover .person-message {
    visibility: visible;
}

@media (max-width: 800px) {
    .reference-container {
        height: 65vw;
    }

    .reference-container img {
        width: 20vw;
    }

    .img1:hover,
    .img2:hover,
    .img3:hover,
    .img3:hover,
    .img4:hover,
    .img5:hover,
    .img6:hover {
        width: 30vw;
        height: auto;
        z-index: 10;
    }

    .person-message {
        bottom: 37vw;
        z-index: 11;
    }

    .img1 {
        left: 5vw;

    }

    .img2 {
        left: 18vw;

    }

    .img3 {
        left: 33vw;

    }

    .img4 {
        right: 33vw;

    }

    .img5 {
        right: 18vw;

    }

    .img6 {
        right: 5vw;

    }
}