*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --green-color-from-post-it: rgba(159, 225, 156);
    --green-color-from-post-it-transparent: rgba(159, 225, 156, 0.526);
    --green-darker-color-from-post-it-transparent: rgba(129, 228, 124, 0.526);
    --orange-color-from-post-it: rgba(255, 218, 171);
    --yellow-color-from-post-it: rgba(255, 240, 173);
    --yellow-color-from-post-it-transparent: rgba(255, 240, 173, 0.526);
    --yellow-darker-color-from-post-it-transparent: rgba(251, 231, 143, 0.526);
    --purple-color-from-post-it: rgba(211, 203, 255);
    --pink-color-from-post-it: rgba(255, 213, 220);
    --pink-color-from-post-it-transparent: rgba(255, 213, 220, 0.526);
    --pink-darker-color-from-post-it-transparent: rgba(255, 191, 202, 0.8);
    --blue-color-from-post-it: rgba(174, 215, 236);

    --primary-color2: #2d7196;
    --primary-color1: #ec95e3;
    --secondary-color1: #8351a8;
    --secondary-color2: #1a2c54;
    --accent-color: #eec0ea;
    --accent-color-light: #99dbfe80;
    --text-color-dark: #000;
    --text-color-light: white;
    --gradient-background: linear-gradient(to bottom, #56b7f334, #ffffff73, #4d7a937d);
}

.portfolio-section,
.hero-section,
.about-section,
.contact-section,
.skills-section,
.references-section {
    width: 90vw;
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.background-img {
    width: 100%;
    background-repeat: repeat;
}

p {
    font-size: 1.3vw;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: var(--primary-color2);
    font-family: 'Hurricane', cursive;
}

.skills-header h2,
.about-header h2,
.contact-section h2,
.portfolio-section h2,
.about-header h2,
.references-header h2 {
    font-size: 4vw;
}

.btn {
    background-color: var(--pink-color-from-post-it);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.5vw;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 1px 1px 5px #000000;
    text-shadow: 2px 2px 10px #7a1c71;
    margin-top: 20px;
    border: 2px solid var(--pink-darker-color-from-post-it-transparent);
    transition: background-color 0.3s, transform 0.1s;
}

.btn:hover {
    background-color: var(--pink-darker-color-from-post-it-transparent);
    color: white;
}

.btn--download:hover {
    background-color: rgba(74, 193, 72, 0.463);
    color: white;
}

.btn:active,
.btn--download:active {
    transform: scale(0.95);
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.btn--download {
    background-color: var(--green-darker-color-from-post-it-transparent);
    color: var(--text-color-light);
    padding: 10px 20px;
    font-size: 1.5vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 50px;
    cursor: pointer;
    margin: 30px;
    box-shadow: 1px 1px 5px #000000;
    text-shadow: 2px 2px 10px #063810;
    border: 1px solid var(--green-color-from-post-it-transparent);
    transition: background-color 0.3s, transform 0.1s;
}

@media (max-width: 800px) {

    .portfolio-section,
    .hero-section,
    .about-section,
    .contact-section,
    .skills-section,
    .references-section {
        width: 100vw;
        margin-top: 0;
        padding-bottom: 0;
    }

    .btn,
    .btn--download {
        font-size: 1.5rem;
    }

    p {
        font-size: 1.3rem;
    }

    h3 {
        font-size: 2rem;
    }

    .skills-header h2,
    .about-header h2,
    .contact-section h2,
    .portfolio-section h2,
    .about-header h2,
    .references-header h2,
    .main-header h2 {
        font-size: 4rem;
    }
}